
.sign-in-and-sign-up {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 30px auto;

    .sign-in {
        width: 380px;
        display: flex;
        flex-direction: column;

        .title {
            margin: 10px 0;
            font-size: 24px;
            text-align: center;
        }
    }

    .sign-up {
        width: 380px;
        display: flex;
        flex-direction: column;

        .title {
            margin: 10px 0;
            font-size: 24px;
            text-align: center;
        }
    }
}